

.root { -fx-focus-color: transparent; }



.label {
  -fx-font-size: 12px;
 /* -fx-font-weight: bold;
  -fx-text-fill: #333333;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}

.slider {
  -fx-show-tick-labels: false;
  -fx-padding: 10 5 0 0;
}

.heading1 {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-text-fill: #333333;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
  -fx-padding: 10 10 20 10;
}




