/* CSS COLORS AT
https://www.w3schools.com/cssref/css_colors.asp
*/

.background-canvas{
    -fx-background-color: rgba(45,45,45,1.0);
    /* -fx-background-color: purple; */
}

.decisionmodule{
    -fx-fill: rgba(10,10,10,0.5);
    -fx-arc-width:15;
    -fx-arc-height:15;
}

.decisionmodule-title{
    -fx-text-fill:darkorange;
    -fx-font-weight: bold;
}


.graphnode-type{
    -fx-text-fill:white;
    /* -fx-text-fill:green; */
    -fx-font-weight: bold;
}

.graphnode-header {
    -fx-background-color: gray;
    /* -fx-background-color: darkorange; */
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-border-color: black;
    -fx-border-width: 0;
}

.graphnode-title{
    -fx-text-fill:white;
}

.graphnode-content {
    -fx-background-color: rgba(50,50,50,255);
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
    -fx-border-color: black;
    -fx-border-width: 0;
}

.graphnode-content-label{
    -fx-text-fill: orange;
}
